doctype html 
html
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Some description')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Harsh Dance Academy in the whole Delhi
    block scripts
    block style
    
body
    block content
footer#footer 
    .nav3 
        p Copyright 2018,&copy;HarshDanceAcademy.com