doctype html 
html
  head
    meta( name='viewport', content='width=device-width, initial-scale=1' )
    title Harsh Dance Academy in the whole Delhi
    block scripts
    block style
    
body
    block content
footer#footer 
    .nav3 
        p Copyright 2018,&copy;HarshDanceAcademy.com