extends base.pug

block scripts
  script(src='../static/index.js')

block style 
  style
    include stylehome.css

block content

    nav#navbar 
            .container 
                .logo 
                    img(src="../static/logo.jpg" alt="Sorry")
                    h2 HDA
                ul
                    li #[a(href = '/home') Home]
                    li #[a(href = '/about') About]
                    li #[a(href = '/services') Service]
                    li #[a(href = '/join') Join Class]
                    li #[a(href = '/contact') Contact us]
    .body
        .img 
          img(src="../static/img1.jpg", alt="hello")
        .content 
          lorem This is a dance academy and here you can make your dreams comes true and you will acheive your goals if you follow all the things that our faculty told you  to do .Because Your dreams will be like our dreams and we will never disappoint you . Defenitely you will get your dreams comes true 
        
          
        .moment 
          morem ipsum dolor, sit amet consectetur adipisicing elit. Repellat odit suscipit saepe quia molestias? Quam unde deserunt quae alias dolores porro dolorem deleniti quia fugiat, suscipit repellendus enim molestiae magni saepe molestias quis sunt provident dignissimos. Ipsa natus voluptatem in magnam porro veritatis sit quisquam nulla inventore voluptates, itaque excepturi? Natus voluptates eum iste maiores nam sed! Consectetur voluptatibus corrupti facere pariatur quas sunt libero expedita cupiditate. Animi voluptates culpa deleniti vero modi sed aliquam, iste dolores os nisi excepturi, dolorem vel placeat dicta deserunt qui quaerat tempora eaque sit? Recusandae est ducimuri? Atque facilis aperiam minus perferendis fuga. Ipsam eligendi nemo fuga dolorum doloremque necessitatibus aspernatur! Sapiente eveniet eius vero recusandae aspernatur et totam consequuntur animi error saepe, reprehenderit ipsam est exercitationem ipsum mollitia alias debitis accusantium cum iure beatae, voluptatibus architecto rem. Minima maiores odit suscipit, ducimus debitis eius ad voluptatum similique esse.,



