extends base.pug

//- block scripts
//-   script(src='../static/.js')

block style 
  style
    include stylejoinclass.css

block content

    nav#navbar 
            .container 
                .logo 
                    img(src="../static/logo.jpg" alt="Sorry")
                    h2 HDA
            .menu 
                img(src="../static/menu.png", alt="")
            .close 
                img(src="../static/close.png", alt="")  
            ul
                li #[a(href = '/home') Home]
                li #[a(href = '/about') About]
                li #[a(href = '/services') Service]
                li #[a(href = '/join') Join Class]
                li #[a(href = '/contact') Contact us]
    .body1 
        p We are teaching every type of dance and with full of joy and dedication 

          .img  
            img(src="../static/img7.jpg", alt="Sorry")
            img(src="../static/img6.jpg", alt="Sorry")
            img(src="../static/img5.jpg", alt="Sorry")
            img(src="../static/img8.png", alt="Sorry")
            img(src="../static/img4.jpg", alt="Sorry")
            img(src="../static/img9.jpg", alt="Sorry")
            img(src="../static/img10.jpg", alt="Sorry")
            img(src="../static/img2.jpg", alt="Sorry")
            img(src="../static/img11.jpg", alt="Sorry")
    script
        include ../static/index.js
